@charset "EUC-KR";
/*플렉서블 박스 레이아웃*/
/*플렉스 컨테이너 지정*/
/* 
display: flex | inline-flex

속성 값
flex: 플렉스 박스를 박스 레벨 요소로 정의합니다.
inline-flex: 플렉스 박스를 인라인 레벨 요소로 정의합니다.
*/

/* 플렉스 방향 지정 */
/* 
flex-direction: row | row-inverse | column | column-inverse 
*/
#container{
	display:flex;
}
#container div{
	width:200px;
	border:1px solid black;
	background:#ccc;
}

/*한 줄 또는 여러줄로 배치*/
/*
flex-wrap: no-wrap | wrap | wrap-reverse

속성 값
no-wrap: 플렉스 항목들을 한 줄에 표시합니다.
wrap: 플렉스 항목을 여러 줄에 표시합니다.
wrap-reverse: 플렉스 항목을 여러 줄에 표시하되 기조 방향과 반대로 배치합니다.
*/

/*방향과 배치 한번에 지정*/
/*
flex-flow: <플렉스 방향> <플렉스 줄 배치>
*/

/*배치 순서 바꾸기*/
/*
order: 0 | 숫자
*/

/*항목 크기 조절*/
/*
flex: [<flex-grow> <flex-shrink> <flex-basis>] | auto | initial

속성 값
flex-grow: 플렉스 항목 너비를 얼마나 늘일지 숫자로 지정합니다
flex-shrink: 플렉스 항목의 너비를 얼마나 줄일지 숫자로 지정합니다
flex-basis: 플렉스 항목의 기본 크기를 지정합니다
initial: 항목의 width/height 값에 크기가 결정된다. 공간이 부족할경우 최소 크기까지 줄인다.
auto: 항목의 width/height 값에 크기가 결정되지만 플렉스 컨테이너 크기에 따라 조절된다.
*/
#box1{ order:2; flex:1 1 0; } /*이클립스에선 안됨, 크롬에서 확인가능*/
#box2{ order:3; }
#box3{ order:1; }

/*주축 기준의 배치 방법 지정*/
/*
justify-content: flex-start | flex-end | center | space-between | space-around
*/

/*교차축 기준의 배치 방법 지정*/
/*
align-items: stretch | flex-start | flex-end | center | baseline
*/

/*개별적 배치*/
/*
align-self: auto | stretch | flex-start | flex-end | center | baseline
*/

/*여러 줄일 때의 배치 방법 지정*/
/*
align-center: flex-start | flex-end | center | space-between | space-around
*/